{% extends 'management/based.html' %}

{% block title %}Dashboard{% endblock title %}
{% block head %}

<style>
  .back{
    height: 70vh;
    background: url('../static/photos/logo3.png');
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .greeting{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;

  }
  #greeting{
    font-size: 28px;

  }
</style>
{% endblock head %}

{% block body %}
<div class='container-fluid back'>
  <p class='text-center greeting'>Hii {{request.session.staff_name}}</p>
  <p class='text-center' id='greeting'></p>


</div>

<script>
  var act = document.getElementById('dashboard');
  act.classList.add('active');
</script>
<script>

      var date = new Date();
      var time = date.getHours();
          if(time >= 4 && time < 12 )
              document.querySelector('#greeting').innerHTML = "GOOD MORNING! ";
          else if(time >=12 && time < 16)
              document.querySelector('#greeting').innerHTML = "GOOD AFTERNOON! ";
          else if(time >= 16 && time < 22)
              document.querySelector('#greeting').innerHTML = "GOOD EVENING! ";
          else
              document.querySelector('#greeting').innerHTML = "GOOD NIGHT! ";

</script>
{% endblock body %}