{% extends 'management/based.html' %}

{% block title %}See Rooms{% endblock title %}
{% block head %}
<style>
    form{
        font-size: 20px;
        padding: 20px;

    }
    form .btn{
        margin: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
  
</style>
{% endblock head %}

{% block body %}

<h1 style='text-align: center;padding: 10px;' class='fw-normal'>ROOM DETAILS</h1>
<div class="filter">
<h4>Filters</h4>
<form method="GET">
    <div class="row">
        <div class="col-md-2">
            <label class='form-label' for="room_no">Room No.:</label>
            <input class='form-control ' id='room' type="number" name='room'>
        </div>
        <div class="col-md-2">
            <label class='form-label' for="room_type">Room Type.:</label>
            <input class='form-control 'id='room_type' type="text" name='room_type'>
        </div>
        <div class="col-md-2">
            <label class='form-label' for="is_booked">Is Booked</label>
            <input class='form-control 'id='booked' type="text" name='booked'>
        </div>
        <div class="col-md-2">
            <label class='form-label' for="checkin">Checkin</label>
            <input class='form-control 'id='checkin' type="date" name='checkin'>
        </div>
        <div class="col-md-2">
            <label class='form-label' for="price">Price</label>
            <input class='form-control 'id='price' type="number" name='price'>
        </div>
        
    </div>
    <button class="btn btn-success">Search</button>
    <a href="see_rooms" class="btn btn-outline-primary">Reset</a>
</form>
</div>
<div class='container table-responsive'>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Room Number</th>
            <th scope="col">Room Tyype</th>
            <th scope="col">Is Booked</th>
            <th scope='col'>CheckIn</th>
            <th scope='col'>CheckOut</th>
            <th scope="col">Price</th>
            
        </tr>
        </thead>
        <tbody>
            
            {% for l in data%}
            <tr>
                
                <th scope="row">-></th>
                <td>{{l.room_no}}</td>
                <td>{{l.room_type}}</td>
                <td>{{l.is_booked}}</td>
                <td>{{l.checkInDate}}</td>
                <td>{{l.checkOutDate}}</td>
                <td>{{l.price}}</td>
                <td>{{l.book_id}}</td>
                <form method='POST' action='book_history'>
                    {% csrf_token %}
                    <input hidden type='number' name='book_id' value='{{l.book_id}}'/>
                
                <td><button type='submit' class="btn btn-danger">Check Out</button></td>
                </form>
                
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>



<script>
  var act = document.getElementById('see_rooms');
  act.classList.add('active');
</script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    
    const room = urlParams.get('room');
    const room_type = urlParams.get('room_type');
    const is_booked = urlParams.get('booked');
    const checkin = urlParams.get('checkin');
    const price = urlParams.get('price');
  
    // Set the values of the date fields if they exist in the query string
  
    if (room) {
    document.getElementById('room').value = room;
    }
    if (room_type) {
    document.getElementById('room_type').value = room_type;
    }
    if (is_booked) {
    document.getElementById('is_booked').value = is_booked;
    }
    if (checkin) {
    document.getElementById('checkin').value = checkin;
    }
    if (price) {
    document.getElementById('price').value = price;
    }
  
  
</script>
{% endblock body %}